
.keyboard img {
    transform-style: preserve-3d;
    animation: rebonded 3s ease-in-out infinite;
}

@keyframes rebonded {
    0%, 100% {
        transform: translateY(0) rotateX(5deg);
    }
    50% {
        transform: translateY(-20px) rotateX(5deg);
    }
}

.transit-animation {
    animation: animationOnTransit 1.5s ease-in;
}

@keyframes animationOnTransit {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}



.keyboard img {
    transform-style: preserve-3d;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotateX(5deg);
    }
    50% {
        transform: translateY(-20px) rotateX(5deg);
    }
}

.border-style-btn {
    animation: boum 2s infinite;
}

@keyframes boum {
    0% {
        box-shadow: 0 0 0 0 #4ade80;
    }
    70% {
        box-shadow: 0 0 0 15px rgba(0, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
    }
}

.fade-in {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.typing-effect {
    overflow: hidden;
    border-right: 3px solid var(--color-blue);
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color-blue) }
}
