
.difficulty-btn {
  transition: all 0.3s ease;
}

.difficulty-btn.active {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.easy-active {
  background: linear-gradient(145deg, #4ade80, #22c55e);
  color: white;
}


.medium-active {
  background: linear-gradient(145deg, #fbbf24, #f59e0b);
  color: white;
}

.hard-active {
  background: linear-gradient(145deg, #f87171, #ef4444);
  color: white;
}

